body{
    font-family: "Josefin Sans", sans-serif;
    padding: 50px;
    background-color: rgb(236, 254, 236);
    font-size: 20px;
    color:rgb(1, 88, 88)
}

h1{
    color: rgb(240, 79, 106);
    font-size: 70px;
}

h2{
    color: rgb(33, 193, 193);
    font-size: 30px;
}

a{
    color: blue;
}

img{
    width: 300px;
    height: auto;
}